html {
  background: url("./Assets/top-bg.png") top;
}
body {
  height: 100vh;
  background-color: beige;
  direction: rtl;
  text-align: right;
  font-family: Tahoma;
  background: url("Assets/bg2.png") no-repeat bottom;
}
.top-bar {
  display: flex;
  width: 960px;
  height: 28px;
  margin: 100px auto 0;
}
.lang-switcher {
  padding: 0 !important;
}
.lang-switcher li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 23px;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  color: #155a2b;
  font-size: 10px;
  background: url("Assets/lang_img.png") no-repeat center;
  margin: 2px 3px 0;
}
.lang-switcher .active {
  display: none;
}
.lang-switcher a {
  color: #155a2b;
  text-decoration: none;
}
.form-item {
  display: flex;
  margin-right: 3px;
}
.search-input {
  color: #747474;
  border: 0;
  outline: none;
  width: 149px;
  height: 25px;
  background: url("Assets/form-rtl.png") no-repeat;
  margin: 0;
  padding-left: 0 !important;
  padding-right: 5px !important;
}
.search-submit {
  background: url("Assets/magnify-rtl.png") no-repeat;
  outline: none;
  border: 0;
  width: 30px;
  height: 25px;
}
.main-content {
  width: 965px;
  margin: 9px auto;
  min-height: 680px;
  background: url("/Assets/wrapper.png") repeat scroll center bottom transparent;
  padding: 0 0 25px;
}

.header {
  border-bottom: 7px solid #155a2b;
  position: relative;
  /* width: fit-content; */
}

.navigation {
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.navigation ul li {
  display: inline;
  height: 41px;
  margin-left: 2px;
}

.navigation-button {
  color: transparent;
  height: inherit;
  display: block;
  font-size: 0;
}

#home {
  background: url(./Assets/home.png) center bottom;
  width: 141px;
}
#about {
  background: url(./Assets/about.png) center bottom;
  width: 117px;
}
#prog {
  background: url(./Assets/prog.png) center bottom;
  width: 177px;
}
#media {
  background: url(./Assets/media.png) center bottom;
  width: 161px;
}
#contact {
  background: url(./Assets/contact.png) center bottom;
  width: 164px;
}

#slidesCarousel {
  max-width: 773px;
}

.second-section {
  margin-top: 18px;
}

.latest-news {
  height: 102px;
  width: 430px;
  background: url(./Assets/news.png);
  padding-top: 1px;
  margin-left: 20px;
}

.latest-news__title,
.section__title {
  background: url(./Assets/news_title.png) no-repeat right;
  margin: 6px 5px 14px 0;
  height: 15px;
  font-size: 0;
}
.our-programmes-title {
  margin: 0;
  margin-right: -12px;
  background: url(Assets/programms_title.png) no-repeat right;
}
#newsCarousel {
  max-width: 430px;
  height: 69px;
}

.news_carousel__text h5 {
  font-size: 12px;
  color: #9099a7;
  direction: rtl;
  margin: 0 5px 4px 0;
  font-weight: 700;
}

.news_carousel__text p {
  font-size: 12px;
  color: #606060;
  margin: 0 7px 0 0;
  line-height: 12px;
}

#achivmentsCarousel {
  max-width: 223px;
}

.founder {
  margin-left: 32px;
  margin-right: 32px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  left: 0ل;
  visibility: hidden;
  opacity: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgb(21, 90, 43);
  transition: visibility 0s, opacity 0.5s linear;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  border-top: 1px solid white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.readmore {
  background: url(./Assets/read_more.png) no-repeat;
  bottom: 2px;
  left: 0;
  margin: 0;
  position: absolute;
  font-size: 0;
}

.readmore a {
  font-size: 0;
  display: inline-block;
  width: 80px;
  height: 20px;
}
.carousel {
  width: 918px;
}
.carousel-inner {
  padding: 0 2px 0 2px;
}
.slide-box {
  display: flex;
  justify-content: right;
  height: 178px;
  gap: 2.5px !important;
  padding: 0 12px 0 12px;
}
.slide-box .slide {
  position: relative;
  width: 176px !important;
  display: flex;
  flex-direction: column;
  border-top: 10px solid green;
}
.slide-box .slide a,
.slide-box .slide img {
  height: 100%;
}
.slide-box .slide .details {
  position: absolute;
  height: 39px;
  bottom: 0;
  width: 100%;
  background: url("/Assets/bg_op.png") repeat scroll 0 0 transparent;
  opacity: 0.9;
}
.slide-box .slide .details p,
.slide-box .slide .details a {
  color: white;
  margin-bottom: -6px;
  font-weight: bold;
  font-size: 11px;
  margin-right: 15px;
  text-decoration: none;
}
.slide-box .slide .details a {
  color: #cced2b;
}
.slide-box .slide img {
  opacity: 0.8;
  transition: .4s ease;
}
.slide-box .slide img:hover {
  opacity: 1;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
  width: auto !important;
}
.carousel-control-next img,
.carousel-control-prev img {
  height: 178px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0.5rem;
}

.latest-news {
  margin-right: 12px;
}
.our-programmes {
  margin-right: 26px;
}
.footer {
  padding: 10px 20px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  height: 30px;
  margin: 13px 0 0;
  padding-top: 2px;
  width: 960px;
}
.footer .copyright {
  font-size: 12px;
  color: #606060;
}
.footer a {
  font-size: 11px;
  font-weight: bold;
  color: #006633;
  border-left: 1px solid #bdbdbd;
  padding-left: 8px;
  text-decoration: none;
}
